<ion-tabs>
  <ion-tab-bar slot="bottom" class="mavii-tab-bar">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tasks">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>